{% extends 'home/base.html' %}
{% block main %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Service content-->
            <article>
                <!-- Service header-->
                <header class="mb-4">
                    <!-- Service title-->
                    <h1 class="fw-bolder mb-1">{{ formation.title }}</h1>
                    <!-- Service meta content-->
                    <div class="text-muted fst-italic mb-2">Publier {{ formation.created_at|date:"F d, Y" }} par {{formation.publish_name}} </div>
                    <!-- Service categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'formation_list' %}">Formation</a>
                    
                  
                    <br><br>
                    <div class="text-muted fst-italic mb-2">Modifier le {{ formation.modified_at|date:"F d, Y" }} par Aboubacar Abass SYLLA</div>
                </header>
                <!-- Preview image figure-->
                {% if formation.image %}
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ formation.image.url }}" alt="{{ formation.title }}" />
                </figure>
                {% else %}
                <h4 style="color: red;">Pas d'image ici</h4>
                {% endif %}

                <!-- Service content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ formation.description }}</p>
                </section>
           
                    {% include 'formation/inscriptionF.html' %}
                        <!-- End formulaire de contact -->

        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <br><br><br>
            <!-- Search widget-->
            <h2 class="capitalize-first">Les Formations Recentes</h2>

            {% for recent_formation in recent_formations %}
            <div class="card" style="width: 18rem;">
                {% if recent_formation.image %}
                <img src="{{ recent_formation.image.url }}" class="card-img-top" alt="{{ recent_formation.title }}">
                {% else %}
                <h4 style="color:red;">pas d'image ici</h4>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ recent_formation.title }}</h5>
                    <p class="card-text">{{ recent_service.content|truncatechars:200 }}</p>
                    <a href="{% url 'formation_detail' recent_formation.id %}" class="btn btn-primary">View Service</a>
                </div>
            </div>
            {% empty %}
            <h4>pas d'élément ici</h4>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'home/footer.html' %}
{% endblock %}
