{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% url 'css/style.css' %}">


{% block section %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-3">
					<h2 class="heading-section">Contactez-Nous</h2>
				</div>
			</div>
			<div class="row justify-content-center shadow mb-5 p-5 ">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Ecrivez-Nous</h3>
									<div id="form-message-warning" class="mb-4"></div>
									<div id="form-message-success" class="mb-4">
										Votre message a été envoyé
									</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													{{form.name|as_crispy_field}}
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													{{form.email|as_crispy_field}}
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													{{form.subject|as_crispy_field}}
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													{{form.message|as_crispy_field}}
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="envoyer" class="btn btn-secondary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-lg-4 col-md-5 d-flex align-items-stretch">
								<div class="info-wrap bg-secondary w-100 p-md-5 ">
									<h3>Nous somme à votre écoute</h3>
									<p class="mb-4">Vos suggestions, critiques et propositions sont les biens venu</p>
									<div class="dbox w-100 d-flex align-items-start">
				        				<div class="icon d-flex align-items-center justify-content-center">
				        					<span class="fa fa-map-marker"></span>
				        				</div>
									</div>
									<div class="text pl-3">
										<p><span>Address:</span> Matoto yimbaya marché</p>
									</div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Phone:</span> <a href="tel://1234567920">660 25 62 08</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Email:</span> <a href="mailto:info@yoursite.com">kolsafe@gmail.com</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Website</span> <a href="#">kolsafe.com</a></p>
					          </div>
				          </div>
			          	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}