{% load static %}

<style>
    .hero-section {
        background: url('{% static "images/hero-image.jpg" %}') no-repeat center center;
        background-size: cover;
        color: white;
        padding: 100px 0;
        text-align: center;
    }
</style>

<section class="hero-section">
    <h1>Bienvenue sur notre plateforme de conseils et formation en cybersécurité</h1>
    <p>Nous offrons des conseils et des formations pour vous aider à protéger vos données et votre vie privée en ligne.</p>
</section>



