{% extends 'home/base.html' %}


{% block section %}

<!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container mb-5">
        <h2>
          {{ blogdetail.title }}
        </h2>
      </div>
      <div class="box">
        <div class="img-box mb-5">
          <img src="{{ blogdetail.img.url }}" alt="">
        </div>
        <div class="detail-box">
          <p>
            Description : {{ blogdetail.description }} Fin Description.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniamLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim
          </p>
          <div class="btn-box">
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock %}