{% extends 'home/base.html' %}


{% block main %}

<!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container mb-5">
        <h2>
          {{ blogdetail.title }}
        </h2>
      </div>
      <div class="box">
        <div class="img-box mb-5">
          <img src="{{ blogdetail.img.url }}" alt="">
        </div>
        <div class="detail-box">
          <p>
            Description : {{ blogdetail.description }} 
          </p>
          <div class="btn-box">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

{% endblock %}